<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>个人简历</title>
    <link rel="stylesheet" href="css/swiper.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/index.css" type="text/css"/>
</head>
<body>
<section class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide pageFir" trueId="page1">
            <div class="imgBox">
                <img src="img/bg.png">
                <img src="img/bg1.png">
                <img src="img/bg2.png">
                <img src="img/bg4.png">
                <img src="img/bg3.png">
                <img src="img/bg2.png">
                <img src="img/bg4.png">
                <img src="img/bg3.png">
                <img src="img/bg2.png">
                <img src="img/bg4.png">
                <img src="img/bg3.png">
                <img src="img/bg2.png">
                <img src="img/bg4.png">
                <img src="img/bg3.png">
            </div>
            <p class="fir">这是一份</p>

            <p class="two">满含诚意的简历哟~</p>

            <p class="thr">遇到这样的求职者，你就收了吧！</p>

            <p class="fou">我是</p>
            <p class="fiv">安欢</p>


            <p class="six">welcome to my world</p>
        </div>
        <div class="swiper-slide pageTwo" trueId="page2">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>基本信息</li>
                <li>教育经验</li>
                <li>专业知识</li>
                <li>专业知识</li>
                <li>人生信条/爱好</li>
            </ul>
            <img src="img/cat.gif" alt=""/>
        </div>
        <div class="swiper-slide pageThr" trueId="page3">
            <img src="img/bg5.jpg" alt=""/>
            <img src="img/bg5.jpg" alt=""/>
            <img src="img/bg5.jpg" alt=""/>
            <img src="img/bg5.jpg" alt=""/>
            <img src="img/bg11.gif" alt=""/>

            <h2>基本信息</h2>

            <p class="one">姓名：安欢</p>

            <p class="two">性别：女</p>

            <p class="thr">专业：前端开发</p>

            <p class="fou">学历：大专</p>

            <p class="fiv">政治面貌：共青团员</p>

            <p class="six">电话：15871127672</p>

            <p class="sev">QQ：786535485</p>

            <p class="eig">职业：程序猿(写万行码,行万里路,努力中！！！)</p>
        </div>
        <div class="swiper-slide pageFou" trueId="page4">
            <img src="img/bg6.jpg" alt=""/>
            <img src="img/bg6.jpg" alt=""/>
            <h2 class="fir">教育背景</h2>
            <h2 class="sec">专业知识</h2>
            <p class="fir">2009.9-2012.6  湖北省黄冈浠水理工中专</p>
            <p class="teo">2012.9-2015.6  湖北省十堰郧阳师范高等专科学校</p>
            <p class="thr">
                <span>1、掌握JavaScript语言。</span>
                <span>2、熟练运用webStorm、Photoshop、Chrome等常用网页设计制作软件。</span>
                <span>3、3.精通HTML+CSS网页布局与样式，熟悉HTML5与CSS3.0。</span>
            </p>
        </div>
        <div class="swiper-slide pageFiv" trueId="page5">
            <img src="img/bg5.jpg" alt=""/>
            <img src="img/bg9.jpg" alt=""/>
            <img src="img/bg6.jpg" alt=""/>
            <img src="img/bg8.jpg" alt=""/>
            <img src="img/bg7.jpg" alt=""/>
            <img src="img/bg5.jpg" alt=""/>
            <img src="img/bg9.jpg" alt=""/>
            <img src="img/bg6.jpg" alt=""/>
            <img src="img/bg8.jpg" alt=""/>
            <img src="img/bg7.jpg" alt=""/>
            <h2>职业规划</h2>
            <p class="fir">Web前端工程师的职业生涯,初级前端开发工程师- > 资深前端工程师- > 前端架构师</p>
            <p class="two">虽然说目前只是在初级阶段，我也不敢保证说我在几年之内会发展到一个什么什么程度，人的潜力是无限的，环境也特别重要，从基层做起，锻炼自己的工作能力和在社会上为人处事的经验，做一个有理想的初级程序员。在工作两年后，争取在事业上有一定的能力进步，职位上的提升，工资方面的增长。在工作五年后，能够成为公司内的小团队的领导角色。在工作十年后，自己在技术能力方面能够成为一名资深架构师，带领着自己的工作团队进行一番事业。</p>
             <p class="thr">千里之行始于足下！我会踏踏实实的走好每一步，实现我的理想</p>
        </div>
        <div class="swiper-slide pageSix" trueId="page6">
            <img src="img/bg5.jpg" alt=""/>
            <img src="img/bg9.jpg" alt=""/>
            <img src="img/bg6.jpg" alt=""/>
            <img src="img/bg8.jpg" alt=""/>
            <img src="img/bg12.png" alt=""/>
            <h2>人生信条/爱好</h2>
            <ul>
                <li class="fir">永远保持好奇心和对知识的渴求。</li>
                <li class="sec">没有困难的事，只有复杂的事</li>
                <li class="thr">
                    <span>书</span>
                    <span>音乐</span>
                    <span>电影</span>
                    <span>书</span>
                </li>
                <li class="for">
                    <span>运动</span>
                    <span>旅游</span>
                    <span>规划</span>
                </li>
            </ul>
            <p>拥有梦想的人从不做选择题，他们只做证明题，相信我，我会证明给你看！ </p>
        </div>
    </div>
</section>
<section class="arrow">
    <span></span>
    <span></span>
</section>
<section class="audio">
    <audio class="audioMp3" src="audioFile/You Raise Me Up.mp3 " loop preload="none"/>
    <audio preload="none" loop>
        <source src="audioFile/You Raise Me Up.mp3" type="audio/mpeg"/>
        <source src="audioFile/You Raise Me Up.wav" type="audio/wav"/>
        <source src="audioFile/You Raise Me Up.ogg" type="audio/ogg"/>
        &lt;!&ndash;如果以上三种格式都不支持的话,我们可以继续在下面编写FLASH的播放&ndash;&gt;
    </audio>
</section>
</body>
</html>
<script charset="utf-8" type="text/javascript" src="js/swiper.min.js"></script>
<script charset="utf-8" type="text/javascript" src="js/fastClick.js"></script>
<script charset="utf-8" type="text/javascript" src="js/index.js"></script>
<script type="text/javascript">
    FastClick.attach(document.body);
</script>
